*{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style:none;
}
li{
    margin-right: 12px;
    float: left;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    /*overflow-x: hidden;*/
}
.demo{
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: 30px;
    background-color: rebeccapurple;
}
.header .header-inner{
    margin: 0 auto;
    width: 1190px;
    height: 30px;
    border: 1px solid black;
}
/**/
.header .header-left{
    margin-left: 30px;
    float: left;
}
.header .header-right1{
    margin-left: 350px;
    float: left;
}
.header .header-right2{
    margin-left: 60px;
    float: left;
}
.header2{
    width: 100%;
    height: 30px;
    background-color: red;
}
.tab{
    width: 100%;
    height: 30px;
    background-color: aqua;
}
.content{
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    background-color: black;
}
.content .content-left{
    width: 300px;
    height: 600px;
    background-color: crimson;
    float: left;
}
.content .content-middle{
    width: 300px;
    height: 600px;
    background-color: green;
    float: left;
}
.content .content-right{
    width: 200px;
    height: 600px;
    background-color: blue;
    float: left;
}
