.demo1{
    color: red;
    height: 100px;
    /*垂直居中*/
    text-align: center;
    line-height: 100px;
    background-image: url("../images/17.jpg");
}
.textDemo{
    text-align: center;
}
a{
    text-decoration: none;
    color: aqua;
    float: left;
}
a:link{
    text-decoration: none;
}
a:hover{
    color: black;
}
.heziDemo{
    float: left;
    color: aqua;
    background: linear-gradient(red, blue, chartreuse);
    height: 100px;
    width: 100px;
    border: 10px black solid;
}
.heziDemo2{
    float: left;
    color: red;
    background-color: black;
    height: 100px;
    width: 100px;
    margin: 20px;
}
/*图片样式*/
.imgDemo1{
    height: 300px;
    width: 300px;
    border-radius: 10px;
}
.imgDiv{
}
